.items {
  padding: 1rem;
  width: 80%;
  color: white;
  background-color: #42224b;
  margin: 1rem auto;
  border-radius: 1rem;
  border: 2px solid black;
}

.items:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 10px 8px #e4e7fb;
}

@media (min-width: 900px) {
  .items {
    width: 60%;
  }
}

.description {
  font-size: larger;
  font-weight: bolder;
  padding: 0%;
  margin: 0;
}
